
.img-yellow-bg {

  height: 400px;
  background: url(../../../public/Images/about/aboutbg.svg) no-repeat center center;
  background-size: cover;
  position: relative;
}
.about-image {
  width: 100%;
  height: 100%;
  bottom: 0%;
  left: 0%;
  position: absolute;
  aspect-ratio: 2/4;
 }
.about-description {
  font-size: 1rem;
  width: 80%;
margin: auto;
  color: #555;
  line-height: 1.6;
  text-align: center;
}





.video-thumbnail {
  position: relative;
  cursor: pointer;
}

.play-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  padding: 15px;
  outline: none;
}

.play-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.video-modal {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  outline: none;
}

.video-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}



/* Timeline.css */


/* Timeline Container Styling */
.timeline-arrow{
  border-left: 2px solid black;
  position: relative;
}
.arrow-upper{
  position: absolute;
  top: -10px;
  left: -14px;
}
.image-year-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-center-svg {
  position: absolute;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: black; /* Adjust color as needed */
  transform: translate(-50%, -60%);
  top: 50%;
  left: 60%;
}
.timeline-title-text{
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  background-color:#ffe68caa;
  color:#fac609 ;
}