.add-to-cart-grid-button{
  background-color: white;
  border: 1px solid #F5C518;
  color: black;
}

.add-to-cart-grid-button:hover{
  background-color: #F5C518;
}
.add-to-cart-grid-button-active{
  background-color: #F5C518;
  border: 1px solid #F5C518;
}