/* Hide the hover content by default */
.card-CreativeHouse-show-afterImage-Hover {
  display: none;
  position: absolute;
  /* width: 100%;
  height: 100%; */
  z-index: 1099;
  top:100%;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  color: white;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;

  overflow: hidden;
}

/* Ensure the card container is relatively positioned */
.card-CreativeHouse {
  position: relative;
  overflow: visible;
}

/* Show the hover content on card hover */
.card-CreativeHouse:hover .card-CreativeHouse-show-afterImage-Hover {
  display: block;
  
}
