$appBackground:#080808;
$primaryContentColor:#F5C518;
$whiteColor:#fff !important;
$exploreServiceBackground:#ECECEC;
$exploreServiceTextColor:#080808;
$exploreServiceButtonBackground:#ECECEC;
$buttonHoverColor:#efdc98;
$secondaryHoverColor:#989790
